<h1><%= @task.title %></h1>
<%# <br> %>
<p><%= @task.details %></p>
<br>
<p><em><%= @task.completed ? "-Congrats, this task is complete!" : "-This task hasn't been completed yet." %></em></p>
<br>
<%= link_to "Back to tasks", index_path %>
<%= link_to "Edit task", edit_task_path %>
<%= link_to "Delete task", task_path(@task), method: :delete, data: { confirm: "Delete the task... FOREVER?!?" } %>
